@model USPSAddressVerification.Models.AddressChoice

@{
    ViewBag.Title = "Choice";
}

<hr />
<table class="table">
    <thead>
        <tr><h4>Your entered address</h4></tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Html.LabelFor(model => model.Address.Address2, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.Address.Address2, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.Address.Address1, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.Address.Address1, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.Address.City, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.Address.State, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.Address.State, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.Address.Zip5, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.Address.Zip5, new { htmlAttributes = new { @class = "" } })</td>
        </tr>
    </tbody>
</table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">
            <h4>
                @Html.EditorFor(model => model.AddressUSPS.Picked, new { htmlAttributes = new { @class = "form-check-input" } })
                Check this if you'd like to use the USPS address below in place of the one you entered
            </h4>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-danger" />
            </div>
        </div>
        @Html.HiddenFor(model => model.AddressUSPS.Address2)
        @Html.HiddenFor(model => model.AddressUSPS.Address1)
        @Html.HiddenFor(model => model.AddressUSPS.City)
        @Html.HiddenFor(model => model.AddressUSPS.State)
        @Html.HiddenFor(model => model.AddressUSPS.Zip5)
        @Html.HiddenFor(model => model.AddressUSPS.Zip4)
    </div>
    }

<table class="table">
    <thead>
        <tr><h4>USPS official address</h4></tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Html.LabelFor(model => model.AddressUSPS.Address2, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.AddressUSPS.Address2, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.AddressUSPS.Address1, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.AddressUSPS.Address1, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.AddressUSPS.City, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.AddressUSPS.City, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.AddressUSPS.State, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.AddressUSPS.State, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.AddressUSPS.Zip5, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.AddressUSPS.Zip5, new { htmlAttributes = new { @class = "" } })</td>
        </tr>

        <tr>
            <th scope="row">@Html.LabelFor(model => model.AddressUSPS.Zip4, htmlAttributes: new { @class = "" })</th>
            <td>@Html.DisplayFor(model => model.AddressUSPS.Zip4, new { htmlAttributes = new { @class = "" } })</td>
        </tr>
    </tbody>
</table>


